[defaults]
inventory = inventory/hosts.generated.yml,inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
host_key_checking = False
local_tmp = ./tmp
remote_tmp = /tmp/.ansible-${USER}/tmp
stdout_callback = default
interpreter_python = auto_silent
strategy = mitogen_linear

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
