[defaults]
roles_path = roles
timeout = 30
forks = 20

[ssh_connection]
retries = 10
ssh_args = -o ConnectTimeout=10 -o ConnectionAttempts=10 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s

[connection]
pipelining = true
